<h1> User Info </h1>

<li> Username: <%= @user.username %> : Email: <%= @user.email %> : ID: <%= @user.id %></li>

<% if @user.contest_creator? %>
  <h2>Referees</h2>
  <li><%= @user.referees.length.to_s + " referees" %> </li>
  <ul>
    <%= render partial: 'user_referee', collection: @user.referees, as: :referee %>
  </ul>
  <li> <%= link_to "New Referee", new_referee_path %> </li>
<% end %>

<h2>Players</h2>
<li><%= @user.players.length.to_s + " players" %> </li>
<ul>
  <%= render partial: 'user_player', collection: @user.players, as: :player %>
</ul>