<p>Username: <%= referee.user.username %> </p>
<ul>
  <li><%= link_to referee.name, referee_path(referee) %> </li>
  <li><%= link_to 'Rules', referee.rules_url %> </li>
  <li> Players per game: <%= referee.players_per_game %> </li>
  <li> <%= link_to "delete", referee, method: :delete, data: { confirm: "Delete " + referee.name + "?" } %> |
    <%= link_to 'edit', edit_referee_path(referee.id) %></li>
</ul>