<h1>Referee Info</h1>
<li>Name: <%= @referee.name %></li>
<li>Creator: <%= @referee.user.username %></li>
<li>Rules Url: <%= link_to "Rules To Game", @referee.rules_url %></li>
<li>Players Per Game: <%= @referee.players_per_game %></li>
<li>Contest: <% @referee.contests.each do |f| %>
    <ul><li><%= link_to f.name, contest_path(f) %><% end %></li></ul></li>